@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/css/font.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Vazir Light';
  
}
input,span,p{
  font-family: 'Vazir Light'!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.left-1{
  left: 0%!important;
  width: 60%!important;
  height: 500px!important;
  background-color: rgb(36, 201, 102);
  
}
.mn{
  height: 300px!important;
  width: 400px!important;
}
.ttr{
  position: static!important;
  height: 400px!important;
  width: 200px!important;
  background-color: rgb(240, 240, 48);
}
.mn2{
  width: "60%"!important;
  right:  0px !important;;
  background-color: aqua;
}

.css-1pxa9xg-MuiAlert-message{
  margin: 0px 15px;
  font-family: 'Vazir Light'!important;
}
.css-ki1hdl-MuiAlert-action{
  padding:0px;
}